@import "__input/_input";

.date-group {
  @extend .flex,
          .flex-column,
          .just-center;
  margin-bottom: 20px;
  @media (min-width: 630px) {
    flex-flow: row nowrap;
    margin-bottom: 0;
  }
}