.footer {
  @extend .flex,
          .flex-row,
          .align-center,
          .just-center,
          .max-width;
  padding: 0 24.6px;
  min-height: 71px;
  background: $white;
  border-top: 8px solid $lightGray;
  @media (min-width: 426px) {
    box-shadow: 0 -1px 0 0 $lightGray;
    border: none;
    margin-top: 40px;
  }


  //Mix footer__button
  &__button {
    margin: 0 8px;
  }
}