@import "__item/_item";
@import "__header/_header";
@import "__select/_select";

.dropdown {

}

.ui-selectmenu-button.ui-button {
  @extend .dropdown__select,
          .max-width;
}
#members-menu {
  max-height: 150px;
}
#members-menu::-webkit-scrollbar {
  width: 10px;
  background: $white;
}
#members-menu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d5dfe9;
}