include ../user/user.pug




mixin dropdown(id, title, disabled)
    +b.dropdown
        +e.LABEL.header(for=id)= title
        +b.INPUT.input__field(id=id class!=attributes.class)&attributes(attributes)
        block