include ../user/user.pug




mixin dropdown(id, title)
    +b.dropdown
        +e.LABEL.header(for=id)= title
        +e.SELECT.select(id=id class!=attributes.class)&attributes(attributes)
            +e.item(selected disabled hidden class="_disabled") Например, Тор Одинович
                block