.dropdown {

  &__select {
    min-height: 38px;
    padding: 0 10px;
    border: 2px solid $lightGray;
    border-radius: 4px;
    color: $brightGray;
    background-color: $white;
    -webkit-appearance: none;
    -moz-appearance: none;
    &_max {
      @extend .max-width;
    }
    &:active, &:focus {
      color: $black;
      outline: none;
      border: 2px solid $blue;
    }
    &::-ms-expand {
      display: none;
    }
  }
  &__header {
    @extend .bold;
    display: block;
    margin-bottom: 5px;
  }
  &__item {
    color: $black;
  }
}


.ui-selectmenu-button.ui-button {
  @extend .dropdown__select,
          .max-width;
}
#members-menu {
  max-height: 150px;
}
#members-menu::-webkit-scrollbar {
  width: 10px;
  background: $white;
}
#members-menu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d5dfe9;
}