.date-group__input {
  @extend .posr;
  margin: 5px 0;
  @media (min-width: 630px) {
    margin: 24px 10px;
  }
  &:first-child {flex-grow: 1; margin-left: 0}
  &:last-child {flex-shrink: 1; margin-right: 0}
  .ui-datepicker-trigger {@extend .posa; top: 32px; right: 10px; cursor: pointer}
}