mixin radio(title)
    +b.radio__header= title
    +b.FIELDSET.radio
        +e.LABEL.label(for="radio-1")
            +e.SPAN.text
                +e.STRONG 16:00 - 16:30
                +e.__text_right Готем &#128900; 4 этаж
            +e.clear &times;
        +e.INPUT.input(type="radio" name="radio-1" id="radio-1")
        +e.LABEL.label(for="radio-2")
            +e.SPAN.text
                +e.STRONG 16:00 - 16:30
                +e.__text_right Поле непаханное &#128900; 4 этаж
            +e.clear &times;
        +e.INPUT.input(type="radio" name="radio-1" id="radio-2")
        +e.LABEL.label(for="radio-3")
            +e.SPAN.text
                +e.STRONG 16:00 - 16:30
                +e.__text_right Тёмная башня &#128900; 4 этаж
            +e.clear &times;
        +e.INPUT.input(type="radio" name="radio-1" id="radio-3")
                block