.radio__label {
  @extend .flex,
          .align-center;
  width: 100%;
  min-height: 38px;
  margin: 4px 0;
  background: $lightGray;
  border-radius: 4px;
  padding: .6em 1em;
  position: relative;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  overflow: visible;
  &:first-child {
    margin-top: 0;
  }
}

.radio__label.ui-state-active, .radio__label.ui-state-active:hover {
  background: $blue!important;
  color: $white;
  .radio__clear {
    color: $white;
  }
}