.radio__label {
  display: block;
  width: 100%;
  min-height: 38px;
  margin: 4px 0;
  padding: 0 10px;
  background: $lightGray;
  border-radius: 4px;
  &:first-child {
    margin-top: 0;
  }
}

.radio__label.ui-state-active, .radio__label.ui-state-active:hover {
  background: $blue!important;
  color: $white;
  .radio__clear {
    color: $white;
  }
}