$black: #000;
$white: #fff;
$lightGray: #e9ecef;
$mildGray: #afb4b8;
$brightGray: #858E98;
$blue: #007dff;

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

.flex {display: flex}
.flex-row {flex-flow: row wrap}
.flex-column {flex-flow: column nowrap}
.align-center {align-items: center}
.just-center {justify-content: center}
.grow {flex-grow: 1}
.max-width {width: 100%}
.bold {font-weight: bold;}