// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$user-avatar-anderson-name: 'user__avatar_anderson';
$user-avatar-anderson-x: 34px;
$user-avatar-anderson-y: 126px;
$user-avatar-anderson-offset-x: -34px;
$user-avatar-anderson-offset-y: -126px;
$user-avatar-anderson-width: 24px;
$user-avatar-anderson-height: 24px;
$user-avatar-anderson-total-width: 150px;
$user-avatar-anderson-total-height: 150px;
$user-avatar-anderson-image: '/img/sprites/users.png';
$user-avatar-anderson: (34px, 126px, -34px, -126px, 24px, 24px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_anderson', );
$user-avatar-anderson-image-big-name: 'user__avatar_anderson_image_big';
$user-avatar-anderson-image-big-x: 84px;
$user-avatar-anderson-image-big-y: 0px;
$user-avatar-anderson-image-big-offset-x: -84px;
$user-avatar-anderson-image-big-offset-y: 0px;
$user-avatar-anderson-image-big-width: 32px;
$user-avatar-anderson-image-big-height: 32px;
$user-avatar-anderson-image-big-total-width: 150px;
$user-avatar-anderson-image-big-total-height: 150px;
$user-avatar-anderson-image-big-image: '/img/sprites/users.png';
$user-avatar-anderson-image-big: (84px, 0px, -84px, 0px, 32px, 32px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_anderson_image_big', );
$user-avatar-blood-name: 'user__avatar_blood';
$user-avatar-blood-x: 126px;
$user-avatar-blood-y: 0px;
$user-avatar-blood-offset-x: -126px;
$user-avatar-blood-offset-y: 0px;
$user-avatar-blood-width: 24px;
$user-avatar-blood-height: 24px;
$user-avatar-blood-total-width: 150px;
$user-avatar-blood-total-height: 150px;
$user-avatar-blood-image: '/img/sprites/users.png';
$user-avatar-blood: (126px, 0px, -126px, 0px, 24px, 24px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_blood', );
$user-avatar-blood-image-big-name: 'user__avatar_blood_image_big';
$user-avatar-blood-image-big-x: 42px;
$user-avatar-blood-image-big-y: 0px;
$user-avatar-blood-image-big-offset-x: -42px;
$user-avatar-blood-image-big-offset-y: 0px;
$user-avatar-blood-image-big-width: 32px;
$user-avatar-blood-image-big-height: 32px;
$user-avatar-blood-image-big-total-width: 150px;
$user-avatar-blood-image-big-total-height: 150px;
$user-avatar-blood-image-big-image: '/img/sprites/users.png';
$user-avatar-blood-image-big: (42px, 0px, -42px, 0px, 32px, 32px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_blood_image_big', );
$user-avatar-butler-name: 'user__avatar_butler';
$user-avatar-butler-x: 84px;
$user-avatar-butler-y: 84px;
$user-avatar-butler-offset-x: -84px;
$user-avatar-butler-offset-y: -84px;
$user-avatar-butler-width: 24px;
$user-avatar-butler-height: 24px;
$user-avatar-butler-total-width: 150px;
$user-avatar-butler-total-height: 150px;
$user-avatar-butler-image: '/img/sprites/users.png';
$user-avatar-butler: (84px, 84px, -84px, -84px, 24px, 24px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_butler', );
$user-avatar-butler-image-big-name: 'user__avatar_butler_image_big';
$user-avatar-butler-image-big-x: 0px;
$user-avatar-butler-image-big-y: 42px;
$user-avatar-butler-image-big-offset-x: 0px;
$user-avatar-butler-image-big-offset-y: -42px;
$user-avatar-butler-image-big-width: 32px;
$user-avatar-butler-image-big-height: 32px;
$user-avatar-butler-image-big-total-width: 150px;
$user-avatar-butler-image-big-total-height: 150px;
$user-avatar-butler-image-big-image: '/img/sprites/users.png';
$user-avatar-butler-image-big: (0px, 42px, 0px, -42px, 32px, 32px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_butler_image_big', );
$user-avatar-deckard-name: 'user__avatar_deckard';
$user-avatar-deckard-x: 126px;
$user-avatar-deckard-y: 68px;
$user-avatar-deckard-offset-x: -126px;
$user-avatar-deckard-offset-y: -68px;
$user-avatar-deckard-width: 24px;
$user-avatar-deckard-height: 24px;
$user-avatar-deckard-total-width: 150px;
$user-avatar-deckard-total-height: 150px;
$user-avatar-deckard-image: '/img/sprites/users.png';
$user-avatar-deckard: (126px, 68px, -126px, -68px, 24px, 24px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_deckard', );
$user-avatar-deckard-image-big-name: 'user__avatar_deckard_image_big';
$user-avatar-deckard-image-big-x: 42px;
$user-avatar-deckard-image-big-y: 42px;
$user-avatar-deckard-image-big-offset-x: -42px;
$user-avatar-deckard-image-big-offset-y: -42px;
$user-avatar-deckard-image-big-width: 32px;
$user-avatar-deckard-image-big-height: 32px;
$user-avatar-deckard-image-big-total-width: 150px;
$user-avatar-deckard-image-big-total-height: 150px;
$user-avatar-deckard-image-big-image: '/img/sprites/users.png';
$user-avatar-deckard-image-big: (42px, 42px, -42px, -42px, 32px, 32px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_deckard_image_big', );
$user-avatar-kent-name: 'user__avatar_kent';
$user-avatar-kent-x: 102px;
$user-avatar-kent-y: 126px;
$user-avatar-kent-offset-x: -102px;
$user-avatar-kent-offset-y: -126px;
$user-avatar-kent-width: 24px;
$user-avatar-kent-height: 24px;
$user-avatar-kent-total-width: 150px;
$user-avatar-kent-total-height: 150px;
$user-avatar-kent-image: '/img/sprites/users.png';
$user-avatar-kent: (102px, 126px, -102px, -126px, 24px, 24px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_kent', );
$user-avatar-kent-image-big-name: 'user__avatar_kent_image_big';
$user-avatar-kent-image-big-x: 84px;
$user-avatar-kent-image-big-y: 42px;
$user-avatar-kent-image-big-offset-x: -84px;
$user-avatar-kent-image-big-offset-y: -42px;
$user-avatar-kent-image-big-width: 32px;
$user-avatar-kent-image-big-height: 32px;
$user-avatar-kent-image-big-total-width: 150px;
$user-avatar-kent-image-big-total-height: 150px;
$user-avatar-kent-image-big-image: '/img/sprites/users.png';
$user-avatar-kent-image-big: (84px, 42px, -84px, -42px, 32px, 32px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_kent_image_big', );
$user-avatar-luter-name: 'user__avatar_luter';
$user-avatar-luter-x: 126px;
$user-avatar-luter-y: 34px;
$user-avatar-luter-offset-x: -126px;
$user-avatar-luter-offset-y: -34px;
$user-avatar-luter-width: 24px;
$user-avatar-luter-height: 24px;
$user-avatar-luter-total-width: 150px;
$user-avatar-luter-total-height: 150px;
$user-avatar-luter-image: '/img/sprites/users.png';
$user-avatar-luter: (126px, 34px, -126px, -34px, 24px, 24px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_luter', );
$user-avatar-luter-image-big-name: 'user__avatar_luter_image_big';
$user-avatar-luter-image-big-x: 0px;
$user-avatar-luter-image-big-y: 84px;
$user-avatar-luter-image-big-offset-x: 0px;
$user-avatar-luter-image-big-offset-y: -84px;
$user-avatar-luter-image-big-width: 32px;
$user-avatar-luter-image-big-height: 32px;
$user-avatar-luter-image-big-total-width: 150px;
$user-avatar-luter-image-big-total-height: 150px;
$user-avatar-luter-image-big-image: '/img/sprites/users.png';
$user-avatar-luter-image-big: (0px, 84px, 0px, -84px, 32px, 32px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_luter_image_big', );
$user-avatar-vader-name: 'user__avatar_vader';
$user-avatar-vader-x: 0px;
$user-avatar-vader-y: 126px;
$user-avatar-vader-offset-x: 0px;
$user-avatar-vader-offset-y: -126px;
$user-avatar-vader-width: 24px;
$user-avatar-vader-height: 24px;
$user-avatar-vader-total-width: 150px;
$user-avatar-vader-total-height: 150px;
$user-avatar-vader-image: '/img/sprites/users.png';
$user-avatar-vader: (0px, 126px, 0px, -126px, 24px, 24px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_vader', );
$user-avatar-vader-image-big-name: 'user__avatar_vader_image_big';
$user-avatar-vader-image-big-x: 42px;
$user-avatar-vader-image-big-y: 84px;
$user-avatar-vader-image-big-offset-x: -42px;
$user-avatar-vader-image-big-offset-y: -84px;
$user-avatar-vader-image-big-width: 32px;
$user-avatar-vader-image-big-height: 32px;
$user-avatar-vader-image-big-total-width: 150px;
$user-avatar-vader-image-big-total-height: 150px;
$user-avatar-vader-image-big-image: '/img/sprites/users.png';
$user-avatar-vader-image-big: (42px, 84px, -42px, -84px, 32px, 32px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_vader_image_big', );
$user-avatar-wick-name: 'user__avatar_wick';
$user-avatar-wick-x: 68px;
$user-avatar-wick-y: 126px;
$user-avatar-wick-offset-x: -68px;
$user-avatar-wick-offset-y: -126px;
$user-avatar-wick-width: 24px;
$user-avatar-wick-height: 24px;
$user-avatar-wick-total-width: 150px;
$user-avatar-wick-total-height: 150px;
$user-avatar-wick-image: '/img/sprites/users.png';
$user-avatar-wick: (68px, 126px, -68px, -126px, 24px, 24px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_wick', );
$user-avatar-wick-image-big-name: 'user__avatar_wick_image_big';
$user-avatar-wick-image-big-x: 0px;
$user-avatar-wick-image-big-y: 0px;
$user-avatar-wick-image-big-offset-x: 0px;
$user-avatar-wick-image-big-offset-y: 0px;
$user-avatar-wick-image-big-width: 32px;
$user-avatar-wick-image-big-height: 32px;
$user-avatar-wick-image-big-total-width: 150px;
$user-avatar-wick-image-big-total-height: 150px;
$user-avatar-wick-image-big-image: '/img/sprites/users.png';
$user-avatar-wick-image-big: (0px, 0px, 0px, 0px, 32px, 32px, 150px, 150px, '/img/sprites/users.png', 'user__avatar_wick_image_big', );
$spritesheet-width: 150px;
$spritesheet-height: 150px;
$spritesheet-image: '/img/sprites/users.png';
$spritesheet-sprites: ($user-avatar-anderson, $user-avatar-anderson-image-big, $user-avatar-blood, $user-avatar-blood-image-big, $user-avatar-butler, $user-avatar-butler-image-big, $user-avatar-deckard, $user-avatar-deckard-image-big, $user-avatar-kent, $user-avatar-kent-image-big, $user-avatar-luter, $user-avatar-luter-image-big, $user-avatar-vader, $user-avatar-vader-image-big, $user-avatar-wick, $user-avatar-wick-image-big, );
$spritesheet: (150px, 150px, '/img/sprites/users.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
