.cell-list__item {
  width: 100%;
  max-height: 32px;
  line-height: 32px;
  border-radius: 16px;
  vertical-align: middle;
  background: $lightGray;
  cursor: pointer;
  @media (min-width: 426px) {
    display: inline-flex;
    width: auto;
    max-width: 170px;
    max-height: 24px;
    line-height: 24px;
  }
}

.cell-list__item {
  display: none;
}
.cell-list__item.show {
  @extend .flex;
  margin: 5px;
}