include ../node_modules/bemto.pug/bemto.pug
include common.blocks/form/form.pug
include common.blocks/side/side.pug
include common.blocks/input/input.pug
include common.blocks/dropdown/dropdown.pug
include common.blocks/cell-list/cell-list.pug
include common.blocks/radio/radio.pug
include common.blocks/button/button.pug

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Создать встречу. Яндекс.Переговорки
        meta(name="description" content="Создание новой встречи.")
        meta(name="author" content="kauzlein@gmail.com")
        link(rel="stylesheet" href="css/styles.min.css")
    +b.BODY.body
        |
        +b.HEADER.header(class='body__header')
            +b.IMG.logo(src='img/logo.svg' title='Логотип Яндекс.Переговорки')
        +b.MAIN.main
            +b.H1.title Новая встреча
            +b.exit
                +e &times;

            +form('meeting')(class='_columnar')
                +side(class='side_left form_columnar__side')
                    +input('theme', 'Тема', 'side__input')(placeholder='О чем будете говорить?' class='_max')
                        +e.clear &times;
                    +dropdown('members', 'Участники', 'Например, Тор Одинович')(class='_max')
                        each user in users
                            +user(user.name, user.avatar, user.floor, 'OPTION')
                    +cell-list()(class='side__cell-list')
                        each user in users
                                +user(user.name, user.avatar)(class='__user')
                                    +e.clear &times;

                +side(class='side_right form_columnar__side')
                    +b.date-group
                        +input('date', 'Дата', '_inline side__input date-group__input')(placeholder='2 Февраль, 18' class='_date _max')
                        +input('begin', 'Начало', '_inline _dash side__input date-group__input')(placeholder='08:00' class='_time')
                        +input('end', 'Конец', '_inline side__input date-group__input')(placeholder='08:30' class='_time')
                    +radio('Рекомендованные переговорки')

        +b.FOOTER.footer
            +button('Отмена')(class='footer__button', type='submit' form='meeting')
            +button('Создать встречу')(class='_blue footer__button', type='submit', form='meeting')

        //build:js js/main.min.js
        script(src="vendor/jquery-ui/external/jquery/jquery.js")
        script(src="vendor/jquery-ui/jquery-ui.js")
        script(src="js/index.js")
        //endbuild