include ../node_modules/bemto.pug/bemto.pug
include common.blocks/form/form.pug
include common.blocks/row/row
include common.blocks/input/input.pug
include common.blocks/dropdown/dropdown.pug
include common.blocks/cell-list/cell-list.pug
include common.blocks/radio/radio.pug
include common.blocks/button/button.pug

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Создать встречу. Яндекс.Переговорки
        meta(name="description" content="Создание новой встречи.")
        meta(name="author" content="kauzlein@gmail.com")
        link(rel="stylesheet" href="css/styles.min.css")
    +b.BODY.body
        |
        +b.HEADER.header(class='body__header')
            +b.IMG.logo(src='img/logo.svg' title='Логотип Яндекс.Переговорки')
        +b.MAIN.event-page
            +e.H1.title Новая встреча
            +b.exit
                +e &times;

            +form('meeting')(class='_columnar')
                +row(class='row_bordered')
                    +e.ceil._nopad_bottom
                        +input('theme', 'Тема')(placeholder='О чем будете говорить?' class='_max')
                            +e.clear &times;
                    +e.ceil._nopad_top
                        +b.date-group
                            +input('date', 'Дата', '_inline date-group__date')(placeholder='2 Февраль, 18' class='_date _max')
                            +e.time
                                +input('begin', 'Начало', '_dash date-group__time__left')(placeholder='08:00' class='_time')
                                +input('end', 'Конец', 'date-group__time__right')(placeholder='08:30' class='_time')



                +row(class='row_bordered')
                    +e.ceil._bordered
                        +dropdown('members', 'Участники')(placeholder='Например, Тор Одинович' class='_max')
                            +e.items
                                each user in users
                                    +user(user.name, user.avatar, user.floor, 'OPTION')
                        +cell-list()(class='side__cell-list')
                            each user in users
                                +user(user.name, user.avatar)(class='__user')
                                    +e.clear &times;

                    +e.ceil
                        +radio('Рекомендованные переговорки')
            +b.event-page__delete_mobile Удалить встречу
        +b.FOOTER.footer
            +button('Отмена')(class='footer__button', type='submit' form='meeting')
            +button('Создать встречу')(class='_blue footer__button', type='submit', form='meeting')

        //build:js js/main.min.js
        script(src="vendor/jquery-ui/external/jquery/jquery.js")
        script(src="vendor/jquery-ui/jquery-ui.js")
        script(src="js/index.js")
        //endbuild